 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myDiv{
  margin: 20px;
}

.myDiv label{
  padding-top: 30px;
  margin-left: 30px;
}

.myDiv input{
  width: 93%;
  height: 5vh;
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 5px;
  font-size: 20px;
  padding-left: 10px;
}

button{
  margin-left: 30px;
  margin-top: 10px;
  background: rgb(73, 73, 210);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.demo {
  height: 20%;
  width: 30%;
  margin-left: 2%;
}
.demo img{
  height: 80%;
  width: 90%;
}
.item {
  width: 30%;
  margin: 10px;
} 

.demo p{
  padding-left: 20px;
}
.gallery{
  display: flex ;
  flex-wrap: wrap;
}

 
